:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
}

/* Заголовки - #212121
/* Цвет героя - #FFFFFF
/* Акцент - #2196F3
/* вторичный текст - #757575
/* Цвет фона вторичный - #2F303A */
/* Цвет фона секции - #F5F4FA */

body {
  color: var(--primary-text-color);
  background-color: #fff;

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* logo */
.logo {
  color: #2196f3;
  font-family: raleway;

  font-size: 26px;
  line-height: 1.19;
}

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.sine-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.curent {
  color: #2196f3;
}

/* contacts */

.site-contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.site-contacts .tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

.site-contacts .tel:hover,
.site-contacts .tel:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: #2f303a;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Hero buton */

.hero-title {
  color: var(--hero-title-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero .button {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}

/* преимущества */

.benefits .benefits-title {
  color: var(--title-text-color);
}

.benefits .list {
  color: var(--title-text-color);
}

/* чем мы занимаемся */

.feature .feature-title {
  color: var(--title-text-color);
}

/* наша команда */

.team .team-title {
  color: var(--title-text-color);
}

.team .list {
  color: var(--title-text-color);
}

.team {
  background-color: #f5f4fa;
}

/* Футер */

.footer {
  background-color: #2f303a;
}
.footer .adress {
  color: var(--hero-title-color);
}

.footer .mail:hover,
.footer .mail:focus {
  color: var(--accent-color);
}

.footer .tel:hover,
.footer .tel:focus {
  color: var(--accent-color);
}

.footer .mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

.projects .projects-title {
  color: var(--title-text-color);
}

.projects-subtitle {
  color: var(--primary-text-color);
}

.portfolio .button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.portfolio .button:focus,
.portfolio .button:hover {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}
