:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --feature-title-color: #212121;
}

/* Заголовки - #212121
/* Цвет героя - #FFFFFF
/* Акцент - #2196F3
/* вторичный текст - #757575
/* Цвет фона вторичный - #2F303A */
/* Цвет фона секции - #F5F4FA */

body {
  color: var(--primary-text-color);
  background-color: #fff;
}
/* logo */
.logo {
  color: #2196f3;
}

/* site-nav */
.site-nav a {
  color: #757575;
}

.site-nav .link:hover,
.sine-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.curent {
  color: #2196f3;
}

/* contacts */

.site-contacts a {
  color: var(--primary-text-color);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

.site-contacts .tel:hover,
.site-contacts .tel:focus {
  color: var(--accent-color);
}
/* Hero */

.hero {
  background-color: #2f303a;
}

/* Hero butom */
.button {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}

.hero-title {
  color: var(--hero-title-color);
}

/* Заголовки h3 */

.feature-list .title {
  color: var(--feature-title-color);
}

/* преимущества */

.section .section-title {
  color: var(--title-text-color);
}
.section {
  color: var(--primary-text-color);
  background-color: #e5e5e5;
}

/* наша команда */

.team {
  background-color: #f5f4fa;
}

/* Футер */

.footer {
  background-color: #2f303a;
}
.footer .adress {
  color: var(--hero-title-color);
}

.footer .mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

.portfolio-title {
  color: var(--title-text-color);
}
